@model IEnumerable<mneStore.Models.items>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>قائمة العناصر الموجودة بالمخزن</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "uk-button uk-button-primary" })
</p>

@using (Html.BeginForm())
{
    <p>
        بحث عن عنصر: @Html.TextBox("SearchString",null,new { @class = "input-type" })  
        <input type="submit" value="Search" class="uk-button uk-button-default"/></p>
}
<table class="uk-table uk-table-hover uk-table-divider uk-table-justify table-shadow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brands.nameBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serialNamber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.barcode)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brands.nameBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialNamber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.barcode)
            </td>

            <td>
                <a href="~/items/Edit?id=@item.id" uk-tooltip="تعديل العنصر" uk-icon="file-edit"></a>|
                <a href="~/items/Details?id=@item.id" uk-tooltip="title:معلومات العنصر  ; pos: bottom-right" uk-icon="info"></a>|
                <a href="~/items/Delete?id=@item.id" uk-tooltip="title:حذف العنصر  ; pos: bottom-right" uk-icon="trash"></a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
            </td>
        </tr>
    }

</table>
